.header{
    text-align: center;
 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: green;}
body {
    font-family: Arial, sans-serif;
  
    margin: 20px;
    background-color: #f9f9f9;
 background-image: url("istockphoto-825087094-612x612.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;  
  background-size: cover;
  
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
}